.app-header {
    min-height: 80px;
    padding: 10px;
    box-shadow: 0 2px 2px -2px rgb(0 0 0 / 15%);
    color: $clr-font-light;
    background: $clr-primary;
    padding: 10px 2rem;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;

    .btn-user-menu {
        color: inherit;

        &.active {
            color: $clr-link-active;
            border-bottom: 2px solid $clr-link-active;
        }
    }

    .user-menu {
        @include menu
    }

    .logo-container {
        height: 65px;
        width: 90px;
        gap: 5px;

        .brand-name {
            letter-spacing: 0.1em;
        }

    }

    .links {
        .avatar-container {
            width: 40px;
            height: 40px;

            img {
                border-radius: 100%;
            }
        }

        .name-container {
            font-weight: bold;
            cursor: default;

        }

        .link {
            font-weight: bold;

            &:not(:last-child) {
                margin-inline-end: 12px;
            }

            .icon {
                font-size: 30px;
            }

            .active {
                color: $clr-link-active;
                border-bottom: 2px solid $clr-link-active;
            }
        }

        .btn-logout {
            color: inherit;
            font-weight: bold;
        }
    }
}