// Flex
.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.inline-flex {
  display: inline-flex;
}

// List
.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Buttons
.clean-btn {
  background-color: transparent;
  padding: 0;
  border: none;
}

// Positions
.relative {
  position: relative;
}

// Spacing
.layout-padding {
  padding-block: 1rem;

  @include for-small-layout {
    padding-inline: 1rem;
  }
}

// Sizing
.full-screen {
  min-height: 100vh;
}

// Messages
.error {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}