/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-sm) {
    @content;
  }
}

@mixin for-small-layout {
  @media (min-width: $break-sm) {
    @content;
  }
}

@mixin for-medium-layout {
  @media (min-width: $break-md) {
    @content;
  }
}

// Buttons

@mixin btn($type: regular, $padding: initial, $bg: $clr-btn, $clr: $clr-font, $txt-transform: initial, $hover: darken($bg, 8%)) {
  border: none;
  cursor: pointer;
  text-transform: $txt-transform;
  transition: background-color 0.2s;
  padding: $padding;
  border-radius: 6px;

  background-color: $bg;
  color: $clr;

  &:hover {
    background-color: $hover;
  }

}

// Misc.
@mixin menu {

  position: absolute;
  bottom: -65px;
  right: 20px;
  margin: 0px;
  min-width: 196px;

  .title {
    color: $clr-font-secondary;
    background: $clr-menu-title;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    align-items: center;
    display: flex;
    gap: 8px;
    height: 40px;
    justify-content: space-between;
    padding-inline-end: 8px;
    position: relative;
    text-align: start;
    user-select: none;
    width: 100%;
    padding: 4px;

    span {
      line-height: 18px;
      letter-spacing: 1px;
      font-weight: 600;
      color: #2d2d2d;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-right: 1em;
      font-size: 1rem;
      font-family: futura-pt, sans-serif;
      white-space: nowrap;
    }
  }

  .option-list {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 16px 24px rgb(0 0 0 / 30%), 0 6px 8px rgb(0 0 0 / 20%);
    max-height: calc(100vh - 24px);
    max-width: 350px;
    min-width: 160px;
    overflow-y: auto;

    .option {
      cursor: pointer;
      color: $clr-font-secondary;
      background: transparent;
      border: 0;
      border-radius: 2px;
      text-decoration: none;
      align-items: center;
      display: flex;
      gap: 8px;
      height: 40px;
      justify-content: space-between;
      padding: 16px 12px;
      padding-inline-end: 8px;
      position: relative;
      text-align: start;
      user-select: none;
      width: 100%;

      &:hover {
        color: $clr-menu-option-active;
      }

    }
  }

}