/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-sm) {
    @content;
  }
}

@mixin for-small-layout {
  @media (min-width: $break-sm) {
    @content;
  }
}

@mixin for-medium-layout {
  @media (min-width: $break-md) {
    @content;
  }
}

// Buttons

@mixin btn($type: regular, $padding: initial, $bg: $clr-btn, $clr: $clr-font, $txt-transform: initial, $hover: darken($bg, 8%)) {
  border: none;
  cursor: pointer;
  text-transform: $txt-transform;
  transition: background-color 0.2s;
  padding: $padding;
  border-radius: 6px;


  background-color: $bg;
  color: $clr;

  &:hover {
    background-color: $hover;
  }

}