@font-face {
  font-family: Assistant;
  src: url(../assets/fonts/Assistant-Regular.ttf);
}

@font-face {
  font-family: Segoe-UI-Historic;
  src: url(../assets/fonts/Segoe-ui-historic.ttf);
}

@font-face {
  font-family: Segoe-UI-Regular;
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('../assets/fonts/Segoe-UI.woff') format('woff');
}