// COLOR PALETTE

$clr-primary: #525050;
$clr-bg: #f0f2f5;
$clr-secondary: #B8B8FF;
$clr-tertiary: #ececfc;
$clr-font: rgba(0, 0, 0, 0.8);
$clr-font-light: rgba(255, 255, 255, 0.9);
$clr-font-secondary: #050505;
$clr-btn: #006637;
$clr-btn-light: #018849;
$clr-btn2: #E4E6EB;
$clr-link-active: lightblue;
$clr-menu-title: #ddd;
$clr-menu-option-active: #0770cf;
$primary-gradient: linear-gradient(90deg, $clr-secondary, $clr-primary);
// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-sm: 40em;
$break-md: 60em;